<div>
    <h1>Autos </h1>
    {{#each products}}
    <p> {{this.title}}</p>
    <br>
     <p> {{this.description}}</p>
     <br>
     <p> {{this.color}}</p>
     <p> {{this.model}}</p>
     {{/each}}
</div>

<div>
    <p>Pagina actual {{page}}</p>
</div>

